[submodule "rollup_contracts/lib/forge-std"]
	path = rollup_contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "sequencer_contracts/sys_contract/lib/forge-std"]
	path = sequencer_contracts/sys_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
