# contract
.vscode/
artifacts/
cache*/
node_modules/
typechain-types/
**/.DS_Store
out/
**/.env
tee_verifier/lib/
tee_verifier/broadcast/
.openzeppelin/
cache/
/.idea/
/node_modules/
/cache/
/out/
/.env
/broadcast/
/logs/
/log/
/layer2-test/layer2-test.iml
/layer2-test/target/classes/
/layer2-test/logs/
/layer2-test/target/test-classes/com/antdigital/web3j/layer2/test/
*.vscode/
*.cloudide
/prover/prover_worker/tee_prover/mock_tracer/
